// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace GhostCardClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class GhostCardClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<GhostCardClient.Options>;

    constructor(options: GhostCardClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a ghost card, a multi-use virtual debit card issued to a vendor for recurring or discretionary spend.
     *
     * Unlike single-use virtual cards issued as part of a payout transaction, ghost cards aren't tied to a specific payout. They're issued directly to a vendor and can be reused up to a configurable number of times within the card's spending limits.
     *
     * @param {Payabli.Entry} entry
     * @param {Payabli.CreateGhostCardRequestBody} request
     * @param {GhostCardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.ghostCard.createGhostCard("8cfec2e0fa", {
     *         vendorId: 42,
     *         expenseLimit: 500,
     *         maxNumberOfUses: 3,
     *         exactAmount: false,
     *         expenseLimitPeriod: "monthly",
     *         billingCycle: "monthly",
     *         billingCycleDay: "1",
     *         dailyTransactionCount: 5,
     *         dailyAmountLimit: 200,
     *         transactionAmountLimit: 100,
     *         mcc: "5411",
     *         tcc: "R",
     *         misc1: "PO-98765",
     *         misc2: "Dept-Finance"
     *     })
     */
    public createGhostCard(
        entry: Payabli.Entry,
        request: Payabli.CreateGhostCardRequestBody,
        requestOptions?: GhostCardClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.CreateGhostCardResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createGhostCard(entry, request, requestOptions));
    }

    private async __createGhostCard(
        entry: Payabli.Entry,
        request: Payabli.CreateGhostCardRequestBody,
        requestOptions?: GhostCardClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.CreateGhostCardResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `MoneyOutCard/GhostCard/${core.url.encodePathParam(entry)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.CreateGhostCardResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/MoneyOutCard/GhostCard/{entry}",
        );
    }

    /**
     * Updates the status of a virtual card (including ghost cards) under a paypoint.
     *
     * @param {Payabli.Entry} entry
     * @param {Payabli.UpdateCardRequestBody} request
     * @param {GhostCardClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.ghostCard.updateCard("8cfec2e0fa", {
     *         cardToken: "gc_abc123def456",
     *         status: "Cancelled"
     *     })
     */
    public updateCard(
        entry: Payabli.Entry,
        request: Payabli.UpdateCardRequestBody,
        requestOptions?: GhostCardClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.PayabliApiResponse> {
        return core.HttpResponsePromise.fromPromise(this.__updateCard(entry, request, requestOptions));
    }

    private async __updateCard(
        entry: Payabli.Entry,
        request: Payabli.UpdateCardRequestBody,
        requestOptions?: GhostCardClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.PayabliApiResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `MoneyOutCard/card/${core.url.encodePathParam(entry)}`,
            ),
            method: "PATCH",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.PayabliApiResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PATCH", "/MoneyOutCard/card/{entry}");
    }
}
