// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace BillingClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The Billing service exposes an organization's billing profiles — the named configurations of billable events and fee schedules that define pricing. Use it to read the pricing terms in effect for an entity: list the profiles that belong to an organization, then view the full profile assigned to a specific organization, paypoint, template, or application. These read endpoints require a token with the `billing_profile_read` permission.
 */
export class BillingClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BillingClient.Options>;

    constructor(options: BillingClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Returns every billing profile that belongs to an organization. This is
     * the data behind the Profile Library table in the Payabli Portal.
     *
     * Requires a token with the `billing_profile_read` permission; a token
     * without it gets `403 Forbidden`.
     *
     * @param {number} orgId - The organization's numeric identifier.
     * @param {Payabli.ListBillingProfilesRequest} request
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.ForbiddenError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link errors.PayabliError}
     * @throws {@link errors.PayabliTimeoutError}
     *
     * @example
     *     await client.billing.listProfiles(123, {
     *         limitRecord: 20,
     *         fromRecord: 0
     *     })
     *
     * @example
     *     await client.billing.listProfiles(123, {
     *         serviceVertical: [1],
     *         feeType: [1],
     *         limitRecord: 20,
     *         fromRecord: 0
     *     })
     */
    public listProfiles(
        orgId: number,
        request: Payabli.ListBillingProfilesRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.BillingProfileQueryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listProfiles(orgId, request, requestOptions));
    }

    private async __listProfiles(
        orgId: number,
        request: Payabli.ListBillingProfilesRequest = {},
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.BillingProfileQueryResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }, { APIKeyAuth: [] }] };
        const { profileName, feeType, serviceVertical, profileId, limitRecord, fromRecord } = request;
        const _queryParams: Record<string, unknown> = {
            profileName,
            feeType,
            serviceVertical,
            profileId,
            limitRecord,
            fromRecord,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `billing/configuration/org/${core.url.encodePathParam(orgId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url
                .queryBuilder()
                .addMany(_queryParams)
                .mergeAdditional(requestOptions?.queryParams)
                .build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.BillingProfileQueryResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payabli.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/billing/configuration/org/{orgId}",
        );
    }

    /**
     * Returns the billing profile currently assigned to an entity, including
     * its billable events and fee schedules. Use it to read the pricing terms
     * in effect for an organization, paypoint, template, or application.
     *
     * Requires a token with the `billing_profile_read` permission and access
     * to the requested entity; otherwise the call gets `403 Forbidden`.
     *
     * If the entity exists but has no profile assigned, the call returns
     * `404 Not Found`.
     *
     * @param {Payabli.GetProfileBillingRequestServiceGroup} serviceGroup - The billing vertical. Only `PayIn` and `PayOut` are accepted; any
     *                                                                      other value returns `400 Bad Request`.
     * @param {Payabli.GetProfileBillingRequestEntityType} entityType - The owning entity type: `Organization`, `Paypoint`, `Template`, or
     *                                                                  `Application`.
     * @param {number} entityId - The numeric identifier of the entity.
     * @param {BillingClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.ForbiddenError}
     * @throws {@link Payabli.NotFoundError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link errors.PayabliError}
     * @throws {@link errors.PayabliTimeoutError}
     *
     * @example
     *     await client.billing.getProfile("PayIn", "Organization", 123)
     */
    public getProfile(
        serviceGroup: Payabli.GetProfileBillingRequestServiceGroup,
        entityType: Payabli.GetProfileBillingRequestEntityType,
        entityId: number,
        requestOptions?: BillingClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.BillingProfileResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__getProfile(serviceGroup, entityType, entityId, requestOptions),
        );
    }

    private async __getProfile(
        serviceGroup: Payabli.GetProfileBillingRequestServiceGroup,
        entityType: Payabli.GetProfileBillingRequestEntityType,
        entityId: number,
        requestOptions?: BillingClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.BillingProfileResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }, { APIKeyAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `billing/configuration/${core.url.encodePathParam(serviceGroup)}/${core.url.encodePathParam(entityType)}/${core.url.encodePathParam(entityId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.BillingProfileResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payabli.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payabli.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/billing/configuration/{serviceGroup}/{entityType}/{entityId}",
        );
    }
}
