// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders, mergeOnlyDefinedHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace BillClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

export class BillClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<BillClient.Options>;

    constructor(options: BillClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a bill in an entrypoint.
     *
     * @param {string} entry - The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
     * @param {Payabli.AddBillRequest} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.addBill("8cfec329267", {
     *         body: {
     *             billNumber: "ABC-123",
     *             netAmount: 3762.87,
     *             billDate: "2024-07-01",
     *             dueDate: "2024-07-01",
     *             comments: "Deposit for materials",
     *             billItems: [{
     *                     itemProductCode: "M-DEPOSIT",
     *                     itemProductName: "Materials deposit",
     *                     itemDescription: "Deposit for materials",
     *                     itemCommodityCode: "010",
     *                     itemUnitOfMeasure: "SqFt",
     *                     itemCost: 5,
     *                     itemQty: 1,
     *                     itemMode: 0,
     *                     itemCategories: ["deposits"],
     *                     itemTotalAmount: 123,
     *                     itemTaxAmount: 7,
     *                     itemTaxRate: 0.075
     *                 }],
     *             mode: 0,
     *             accountingField1: "MyInternalId",
     *             vendor: {
     *                 vendorNumber: "1234-A"
     *             },
     *             endDate: "2024-07-01",
     *             frequency: "monthly",
     *             terms: "NET30",
     *             status: -99,
     *             attachments: [{
     *                     ftype: "pdf",
     *                     filename: "my-doc.pdf",
     *                     furl: "https://mysite.com/my-doc.pdf"
     *                 }]
     *         }
     *     })
     */
    public addBill(
        entry: string,
        request: Payabli.AddBillRequest,
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.BillResponse> {
        return core.HttpResponsePromise.fromPromise(this.__addBill(entry, request, requestOptions));
    }

    private async __addBill(
        entry: string,
        request: Payabli.AddBillRequest,
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.BillResponse>> {
        const { idempotencyKey, body: _body } = request;
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ idempotencyKey: idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/single/${core.url.encodePathParam(entry)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.BillResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/Bill/single/{entry}");
    }

    /**
     * Delete a file attached to a bill.
     *
     * @param {number} idBill - Payabli ID for the bill. Get this ID by querying `/api/Query/bills/` for the entrypoint or the organization.
     * @param {string} filename - The filename in Payabli. Filename is `zipName` in response to a
     *                            request to `/api/Invoice/{idInvoice}`. Here, the filename is
     *                            `0_Bill.pdf`.
     *
     *                            ```json
     *                              "DocumentsRef": {
     *                                "zipfile": "inva_269.zip",
     *                                "filelist": [
     *                                  {
     *                                    "originalName": "Bill.pdf",
     *                                    "zipName": "0_Bill.pdf",
     *                                    "descriptor": null
     *                                  }
     *                                ]
     *                              }
     *                              ```
     * @param {Payabli.DeleteAttachedFromBillRequest} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.deleteAttachedFromBill(285, "0_Bill.pdf")
     */
    public deleteAttachedFromBill(
        idBill: number,
        filename: string,
        request: Payabli.DeleteAttachedFromBillRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.BillResponse> {
        return core.HttpResponsePromise.fromPromise(
            this.__deleteAttachedFromBill(idBill, filename, request, requestOptions),
        );
    }

    private async __deleteAttachedFromBill(
        idBill: number,
        filename: string,
        request: Payabli.DeleteAttachedFromBillRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.BillResponse>> {
        const { returnObject } = request;
        const _queryParams: Record<string, unknown> = {
            returnObject,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/attachedFileFromBill/${core.url.encodePathParam(idBill)}/${core.url.encodePathParam(filename)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.BillResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "DELETE",
            "/Bill/attachedFileFromBill/{idBill}/{filename}",
        );
    }

    /**
     * Deletes a bill by ID.
     *
     * @param {number} idBill - Payabli ID for the bill. Get this ID by querying `/api/Query/bills/` for the entrypoint or the organization.
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.deleteBill(285)
     */
    public deleteBill(
        idBill: number,
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.BillResponse> {
        return core.HttpResponsePromise.fromPromise(this.__deleteBill(idBill, requestOptions));
    }

    private async __deleteBill(
        idBill: number,
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.BillResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/${core.url.encodePathParam(idBill)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.BillResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/Bill/{idBill}");
    }

    /**
     * Updates a bill by ID.
     *
     * @param {number} idBill - Payabli ID for the bill. Get this ID by querying `/api/Query/bills/` for the entrypoint or the organization.
     * @param {Payabli.BillOutData} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.editBill(285, {
     *         netAmount: 3762.87,
     *         billDate: "2025-07-01"
     *     })
     */
    public editBill(
        idBill: number,
        request: Payabli.BillOutData,
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.EditBillResponse> {
        return core.HttpResponsePromise.fromPromise(this.__editBill(idBill, request, requestOptions));
    }

    private async __editBill(
        idBill: number,
        request: Payabli.BillOutData,
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.EditBillResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/${core.url.encodePathParam(idBill)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.EditBillResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/Bill/{idBill}");
    }

    /**
     * Retrieves a file attached to a bill, either as a binary file or as a Base64-encoded string.
     *
     * @param {number} idBill - Payabli ID for the bill. Get this ID by querying `/api/Query/bills/` for the entrypoint or the organization.
     * @param {string} filename - The filename in Payabli. Filename is `zipName` in response to a request to `/api/Invoice/{idInvoice}`. Here, the filename is `0_Bill.pdf``.
     *                            "DocumentsRef": {
     *                              "zipfile": "inva_269.zip",
     *                              "filelist": [
     *                                {
     *                                  "originalName": "Bill.pdf",
     *                                  "zipName": "0_Bill.pdf",
     *                                  "descriptor": null
     *                                }
     *                              ]
     *                            }
     * @param {Payabli.GetAttachedFromBillRequest} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.getAttachedFromBill(285, "0_Bill.pdf", {
     *         returnObject: true
     *     })
     */
    public getAttachedFromBill(
        idBill: number,
        filename: string,
        request: Payabli.GetAttachedFromBillRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.FileContent> {
        return core.HttpResponsePromise.fromPromise(
            this.__getAttachedFromBill(idBill, filename, request, requestOptions),
        );
    }

    private async __getAttachedFromBill(
        idBill: number,
        filename: string,
        request: Payabli.GetAttachedFromBillRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.FileContent>> {
        const { returnObject } = request;
        const _queryParams: Record<string, unknown> = {
            returnObject,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/attachedFileFromBill/${core.url.encodePathParam(idBill)}/${core.url.encodePathParam(filename)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.FileContent, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/Bill/attachedFileFromBill/{idBill}/{filename}",
        );
    }

    /**
     * Retrieves a bill by ID from an entrypoint.
     *
     * @param {number} idBill - Payabli ID for the bill. Get this ID by querying `/api/Query/bills/` for the entrypoint or the organization.
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.getBill(285)
     */
    public getBill(
        idBill: number,
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.GetBillResponse> {
        return core.HttpResponsePromise.fromPromise(this.__getBill(idBill, requestOptions));
    }

    private async __getBill(
        idBill: number,
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.GetBillResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/${core.url.encodePathParam(idBill)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: requestOptions?.queryParams,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.GetBillResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/Bill/{idBill}");
    }

    /**
     * Retrieve a list of bills for an entrypoint. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
     *
     * @param {string} entry - The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
     * @param {Payabli.ListBillsRequest} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.listBills("8cfec329267", {
     *         fromRecord: 251,
     *         limitRecord: 0,
     *         sortBy: "desc(field_name)"
     *     })
     */
    public listBills(
        entry: string,
        request: Payabli.ListBillsRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.BillQueryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBills(entry, request, requestOptions));
    }

    private async __listBills(
        entry: string,
        request: Payabli.ListBillsRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.BillQueryResponse>> {
        const { exportFormat, fromRecord, limitRecord, parameters, sortBy } = request;
        const _queryParams: Record<string, unknown> = {
            exportFormat: exportFormat != null ? exportFormat : undefined,
            fromRecord,
            limitRecord,
            parameters: parameters != null ? toJson(parameters) : undefined,
            sortBy,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Query/bills/${core.url.encodePathParam(entry)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.BillQueryResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/Query/bills/{entry}");
    }

    /**
     * Retrieve a list of bills for an organization. Use filters to limit results. Include the `exportFormat` query parameter to return the results as a file instead of a JSON response.
     *
     * @param {number} orgId - The numeric identifier for organization, assigned by Payabli.
     * @param {Payabli.ListBillsOrgRequest} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.listBillsOrg(123, {
     *         fromRecord: 251,
     *         limitRecord: 0,
     *         sortBy: "desc(field_name)"
     *     })
     */
    public listBillsOrg(
        orgId: number,
        request: Payabli.ListBillsOrgRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.BillQueryResponse> {
        return core.HttpResponsePromise.fromPromise(this.__listBillsOrg(orgId, request, requestOptions));
    }

    private async __listBillsOrg(
        orgId: number,
        request: Payabli.ListBillsOrgRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.BillQueryResponse>> {
        const { exportFormat, fromRecord, limitRecord, parameters, sortBy } = request;
        const _queryParams: Record<string, unknown> = {
            exportFormat: exportFormat != null ? exportFormat : undefined,
            fromRecord,
            limitRecord,
            parameters: parameters != null ? toJson(parameters) : undefined,
            sortBy,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Query/bills/org/${core.url.encodePathParam(orgId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.BillQueryResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/Query/bills/org/{orgId}");
    }

    /**
     * Modify the list of users the bill is sent to for approval.
     *
     * @param {number} idBill - Payabli ID for the bill. Get this ID by querying `/api/Query/bills/` for the entrypoint or the organization.
     * @param {string[]} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.modifyApprovalBill(285, ["string"])
     */
    public modifyApprovalBill(
        idBill: number,
        request: string[],
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.ModifyApprovalBillResponse> {
        return core.HttpResponsePromise.fromPromise(this.__modifyApprovalBill(idBill, request, requestOptions));
    }

    private async __modifyApprovalBill(
        idBill: number,
        request: string[],
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.ModifyApprovalBillResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/approval/${core.url.encodePathParam(idBill)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryParameters: requestOptions?.queryParams,
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.ModifyApprovalBillResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/Bill/approval/{idBill}");
    }

    /**
     * Send a bill to a user or list of users to approve.
     *
     * @param {number} idBill - Payabli ID for the bill. Get this ID by querying `/api/Query/bills/` for the entrypoint or the organization.
     * @param {Payabli.SendToApprovalBillRequest} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.sendToApprovalBill(285, {
     *         idempotencyKey: "6B29FC40-CA47-1067-B31D-00DD010662DA",
     *         body: ["string"]
     *     })
     */
    public sendToApprovalBill(
        idBill: number,
        request: Payabli.SendToApprovalBillRequest,
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.BillResponse> {
        return core.HttpResponsePromise.fromPromise(this.__sendToApprovalBill(idBill, request, requestOptions));
    }

    private async __sendToApprovalBill(
        idBill: number,
        request: Payabli.SendToApprovalBillRequest,
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.BillResponse>> {
        const { autocreateUser, idempotencyKey, body: _body } = request;
        const _queryParams: Record<string, unknown> = {
            autocreateUser,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            mergeOnlyDefinedHeaders({ idempotencyKey: idempotencyKey }),
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/approval/${core.url.encodePathParam(idBill)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            requestType: "json",
            body: _body,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.BillResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/Bill/approval/{idBill}");
    }

    /**
     * Approve or disapprove a bill by ID.
     *
     * @param {number} idBill - Payabli ID for the bill. Get this ID by querying `/api/Query/bills/` for the entrypoint or the organization.
     * @param {string} approved - String representing the approved status. Accepted values: 'true' or 'false'.
     * @param {Payabli.SetApprovedBillRequest} request
     * @param {BillClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.bill.setApprovedBill(285, "true")
     */
    public setApprovedBill(
        idBill: number,
        approved: string,
        request: Payabli.SetApprovedBillRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.SetApprovedBillResponse> {
        return core.HttpResponsePromise.fromPromise(this.__setApprovedBill(idBill, approved, request, requestOptions));
    }

    private async __setApprovedBill(
        idBill: number,
        approved: string,
        request: Payabli.SetApprovedBillRequest = {},
        requestOptions?: BillClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.SetApprovedBillResponse>> {
        const { email } = request;
        const _queryParams: Record<string, unknown> = {
            email,
        };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Bill/approval/${core.url.encodePathParam(idBill)}/${core.url.encodePathParam(approved)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.SetApprovedBillResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/Bill/approval/{idBill}/{approved}",
        );
    }
}
