// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { toJson } from "../../../../core/json.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace StatisticClient {
    export interface Options extends BaseClientOptions {}

    export interface RequestOptions extends BaseRequestOptions {}
}

export class StatisticClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<StatisticClient.Options>;

    constructor(options: StatisticClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Retrieves the basic statistics for an organization or a paypoint, for a given time period, grouped by a particular frequency.
     *
     * @param {string} mode - Mode for the request. Allowed values:
     *
     *                        - `custom` - Allows you to set a custom date range
     *                        - `ytd` - Year To Date
     *                        - `mtd` - Month To Date
     *                        - `wtd` - Week To Date
     *                        - `today` - All current day
     *                        - `m12` - Last 12 months
     *                        - `d30` - Last 30 days
     *                        - `h24` - Last 24 hours
     *                        - `lasty` - Last Year
     *                        - `lastm` - Last Month
     *                        - `lastw` - Last Week
     *                        - `yesterday` - Last Day
     *
     * @param {string} freq - Frequency to group series. Allowed values:
     *
     *                        - `m` - monthly
     *                        - `w` - weekly
     *                        - `d` - daily
     *                        - `h` - hourly
     *
     *                        For example, `w` groups the results by week.
     * @param {number} level - The entry level for the request:
     *                           - 0 for Organization
     *                           - 2 for Paypoint
     * @param {number} entryId - Identifier in Payabli for the entity.
     * @param {Payabli.BasicStatsRequest} request
     * @param {StatisticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.statistic.basicStats("ytd", "m", 1, 1000000, {
     *         endDate: "2025-11-01",
     *         startDate: "2025-11-30"
     *     })
     */
    public basicStats(
        mode: string,
        freq: string,
        level: number,
        entryId: number,
        request: Payabli.BasicStatsRequest = {},
        requestOptions?: StatisticClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.StatBasicExtendedQueryRecord[]> {
        return core.HttpResponsePromise.fromPromise(
            this.__basicStats(mode, freq, level, entryId, request, requestOptions),
        );
    }

    private async __basicStats(
        mode: string,
        freq: string,
        level: number,
        entryId: number,
        request: Payabli.BasicStatsRequest = {},
        requestOptions?: StatisticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.StatBasicExtendedQueryRecord[]>> {
        const { endDate, parameters, startDate } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (endDate != null) {
            _queryParams.endDate = endDate;
        }

        if (parameters != null) {
            _queryParams.parameters = toJson(parameters);
        }

        if (startDate != null) {
            _queryParams.startDate = startDate;
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Statistic/basic/${core.url.encodePathParam(mode)}/${core.url.encodePathParam(freq)}/${core.url.encodePathParam(level)}/${core.url.encodePathParam(entryId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Payabli.StatBasicExtendedQueryRecord[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/Statistic/basic/{mode}/{freq}/{level}/{entryId}",
        );
    }

    /**
     * Retrieves the basic statistics for a customer for a specific time period, grouped by a selected frequency.
     *
     * @param {string} mode - Mode for request. Allowed values:
     *
     *                        - `ytd` - Year To Date
     *                        - `mtd` - Month To Date
     *                        - `wtd` - Week To Date
     *                        - `today` - All current day
     *                        - `m12` - Last 12 months
     *                        - `d30` - Last 30 days
     *                        - `h24` - Last 24 hours
     *                        - `lasty` - Last Year
     *                        - `lastm` - Last Month
     *                        - `lastw` - Last Week
     *                        - `yesterday` - Last Day
     * @param {string} freq - Frequency to group series. Allowed values:
     *
     *                        - `m` - monthly
     *                        - `w` - weekly
     *                        - `d` - daily
     *                        - `h` - hourly
     *
     *                        For example, `w` groups the results by week.
     * @param {number} customerId - Payabli-generated customer ID. Maps to "Customer ID" column in PartnerHub.
     * @param {Payabli.CustomerBasicStatsRequest} request
     * @param {StatisticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.statistic.customerBasicStats("ytd", "m", 998)
     */
    public customerBasicStats(
        mode: string,
        freq: string,
        customerId: number,
        request: Payabli.CustomerBasicStatsRequest = {},
        requestOptions?: StatisticClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.SubscriptionStatsQueryRecord[]> {
        return core.HttpResponsePromise.fromPromise(
            this.__customerBasicStats(mode, freq, customerId, request, requestOptions),
        );
    }

    private async __customerBasicStats(
        mode: string,
        freq: string,
        customerId: number,
        request: Payabli.CustomerBasicStatsRequest = {},
        requestOptions?: StatisticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.SubscriptionStatsQueryRecord[]>> {
        const { parameters } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (parameters != null) {
            _queryParams.parameters = toJson(parameters);
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Statistic/customerbasic/${core.url.encodePathParam(mode)}/${core.url.encodePathParam(freq)}/${core.url.encodePathParam(customerId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Payabli.SubscriptionStatsQueryRecord[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/Statistic/customerbasic/{mode}/{freq}/{customerId}",
        );
    }

    /**
     * Retrieves the subscription statistics for a given interval for a paypoint or organization.
     *
     * @param {string} interval - Interval to get the data. Allowed values:
     *
     *                            - `all` - all intervals
     *                            - `30` - 1-30 days
     *                            - `60` - 31-60 days
     *                            - `90` - 61-90 days
     *                            - `plus` - +90 days
     * @param {number} level - The entry level for the request:
     *                           - 0 for Organization
     *                           - 2 for Paypoint
     * @param {number} entryId - Identifier in Payabli for the entity.
     * @param {Payabli.SubStatsRequest} request
     * @param {StatisticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.statistic.subStats("30", 1, 1000000)
     */
    public subStats(
        interval: string,
        level: number,
        entryId: number,
        request: Payabli.SubStatsRequest = {},
        requestOptions?: StatisticClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.StatBasicQueryRecord[]> {
        return core.HttpResponsePromise.fromPromise(this.__subStats(interval, level, entryId, request, requestOptions));
    }

    private async __subStats(
        interval: string,
        level: number,
        entryId: number,
        request: Payabli.SubStatsRequest = {},
        requestOptions?: StatisticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.StatBasicQueryRecord[]>> {
        const { parameters } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (parameters != null) {
            _queryParams.parameters = toJson(parameters);
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Statistic/subscriptions/${core.url.encodePathParam(interval)}/${core.url.encodePathParam(level)}/${core.url.encodePathParam(entryId)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.StatBasicQueryRecord[], rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/Statistic/subscriptions/{interval}/{level}/{entryId}",
        );
    }

    /**
     * Retrieve the basic statistics about a vendor for a given time period, grouped by frequency.
     *
     * @param {string} mode - Mode for request. Allowed values:
     *
     *                        - `ytd` - Year To Date
     *                        - `mtd` - Month To Date
     *                        - `wtd` - Week To Date
     *                        - `today` - All current day
     *                        - `m12` - Last 12 months
     *                        - `d30` - Last 30 days
     *                        - `h24` - Last 24 hours
     *                        - `lasty` - Last Year
     *                        - `lastm` - Last Month
     *                        - `lastw` - Last Week
     *                        - `yesterday` - Last Day
     * @param {string} freq - Frequency to group series. Allowed values:
     *
     *                        - `m` - monthly
     *                        - `w` - weekly
     *                        - `d` - daily
     *                        - `h` - hourly
     *
     *                        For example, `w` groups the results by week.
     * @param {number} idVendor - Vendor ID.
     * @param {Payabli.VendorBasicStatsRequest} request
     * @param {StatisticClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.statistic.vendorBasicStats("ytd", "m", 1)
     */
    public vendorBasicStats(
        mode: string,
        freq: string,
        idVendor: number,
        request: Payabli.VendorBasicStatsRequest = {},
        requestOptions?: StatisticClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.StatisticsVendorQueryRecord[]> {
        return core.HttpResponsePromise.fromPromise(
            this.__vendorBasicStats(mode, freq, idVendor, request, requestOptions),
        );
    }

    private async __vendorBasicStats(
        mode: string,
        freq: string,
        idVendor: number,
        request: Payabli.VendorBasicStatsRequest = {},
        requestOptions?: StatisticClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.StatisticsVendorQueryRecord[]>> {
        const { parameters } = request;
        const _queryParams: Record<string, string | string[] | object | object[] | null> = {};
        if (parameters != null) {
            _queryParams.parameters = toJson(parameters);
        }

        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Statistic/vendorbasic/${core.url.encodePathParam(mode)}/${core.url.encodePathParam(freq)}/${core.url.encodePathParam(idVendor)}`,
            ),
            method: "GET",
            headers: _headers,
            queryParameters: { ..._queryParams, ...requestOptions?.queryParams },
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Payabli.StatisticsVendorQueryRecord[],
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliApiResponse,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "GET",
            "/Statistic/vendorbasic/{mode}/{freq}/{idVendor}",
        );
    }
}
