// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptions, normalizeClientOptions } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace TokenClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The Token service issues OAuth2 access tokens for the Payabli API. Exchange a provisioned client ID and client secret for a short-lived Bearer access token using the client-credentials flow, then send that token in the `Authorization` header on subsequent calls.
 */
export class TokenClient {
    protected readonly _options: NormalizedClientOptions<TokenClient.Options>;

    constructor(options: TokenClient.Options = {}) {
        this._options = normalizeClientOptions(options);
    }

    /**
     * Exchanges a client ID and client secret for a short-lived Bearer access token using the OAuth2 client-credentials flow. Designed for server-to-server use: the credentials and the returned token stay on your backend. Send the returned `access_token` in the `Authorization` header as `Bearer <access_token>` on subsequent API calls. See the [OAuth authentication guide](/developers/oauth-authentication) for the full flow.
     *
     * @param {Payabli.CreateServerSideTokenRequest} request
     * @param {TokenClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link errors.PayabliError}
     * @throws {@link errors.PayabliTimeoutError}
     *
     * @example
     *     await client.token.createServerSideToken({
     *         clientId: "YOUR_CLIENT_ID",
     *         clientSecret: "YOUR_CLIENT_SECRET"
     *     })
     */
    public createServerSideToken(
        request: Payabli.CreateServerSideTokenRequest,
        requestOptions?: TokenClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.PayabliAccessTokenResponse> {
        return core.HttpResponsePromise.fromPromise(this.__createServerSideToken(request, requestOptions));
    }

    private async __createServerSideToken(
        request: Payabli.CreateServerSideTokenRequest,
        requestOptions?: TokenClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.PayabliAccessTokenResponse>> {
        const _metadata: core.EndpointMetadata = { security: undefined };
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(this._options?.headers, requestOptions?.headers);
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                "v2/Token/serverside",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.PayabliAccessTokenResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/v2/Token/serverside");
    }
}
