// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace VendorClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The Vendor service manages vendor and supplier relationships for accounts payable operations. It provides complete vendor record management including creation, updates, and deletion with support for comprehensive vendor information like tax identification, multiple contact persons, and remittance details. The service handles vendor banking information for payment processing, tracks vendor status and enrollment for various payout methods, maintains separate billing and remittance addresses, and supports custom fields for internal tracking. Vendors can be associated with multiple payment methods, bills, and payout transactions while maintaining a complete activity history and summary statistics.
 */
export class VendorClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<VendorClient.Options>;

    constructor(options: VendorClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Creates a vendor in an entrypoint.
     *
     * @param {string} entry - Entrypoint identifier.
     * @param {Payabli.VendorData} request
     * @param {VendorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.vendor.addVendor("8cfec329267", {
     *         vendorNumber: "VEN-123",
     *         name1: "Herman's Coatings and Masonry",
     *         name2: "<string>",
     *         ein: "12-3456789",
     *         phone: "5555555555",
     *         email: "example@email.com",
     *         address1: "123 Ocean Drive",
     *         address2: "Suite 400",
     *         city: "Miami",
     *         state: "FL",
     *         zip: "33139",
     *         country: "US",
     *         mcc: "7777",
     *         locationCode: "MIA123",
     *         contacts: [{
     *                 contactName: "Herman Martinez",
     *                 contactEmail: "example@email.com",
     *                 contactTitle: "Owner",
     *                 contactPhone: "3055550000"
     *             }],
     *         billingData: {
     *             id: 123,
     *             bankName: "Country Bank",
     *             routingAccount: "123123123",
     *             accountNumber: "123123123",
     *             typeAccount: "Checking",
     *             bankAccountHolderName: "Gruzya Adventure Outfitters LLC",
     *             bankAccountHolderType: "Business",
     *             bankAccountFunction: 0
     *         },
     *         paymentMethod: "managed",
     *         vendorStatus: 1,
     *         remitAddress1: "123 Walnut Street",
     *         remitAddress2: "Suite 900",
     *         remitCity: "Miami",
     *         remitState: "FL",
     *         remitZip: "31113",
     *         remitCountry: "US",
     *         payeeName1: "<string>",
     *         payeeName2: "<string>",
     *         customerVendorAccount: "A-37622",
     *         internalReferenceId: 123
     *     })
     */
    public addVendor(
        entry: string,
        request: Payabli.VendorData,
        requestOptions?: VendorClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.PayabliApiResponseVendors> {
        return core.HttpResponsePromise.fromPromise(this.__addVendor(entry, request, requestOptions));
    }

    private async __addVendor(
        entry: string,
        request: Payabli.VendorData,
        requestOptions?: VendorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.PayabliApiResponseVendors>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Vendor/single/${core.url.encodePathParam(entry)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.PayabliApiResponseVendors, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/Vendor/single/{entry}");
    }

    /**
     * Retrieves a vendor's details, including enrichment status and payment acceptance info when available.
     *
     * @param {number} idVendor - Vendor ID.
     * @param {VendorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @example
     *     await client.vendor.getVendor(1)
     */
    public getVendor(
        idVendor: number,
        requestOptions?: VendorClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.VendorQueryRecord> {
        return core.HttpResponsePromise.fromPromise(this.__getVendor(idVendor, requestOptions));
    }

    private async __getVendor(
        idVendor: number,
        requestOptions?: VendorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.VendorQueryRecord>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Vendor/${core.url.encodePathParam(idVendor)}`,
            ),
            method: "GET",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.VendorQueryRecord, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            throw new errors.PayabliError({
                statusCode: _response.error.statusCode,
                body: _response.error.body,
                rawResponse: _response.rawResponse,
            });
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "GET", "/Vendor/{idVendor}");
    }

    /**
     * Updates a vendor's information. Send only the fields you need to update.
     *
     * @param {number} idVendor - Vendor ID.
     * @param {Payabli.VendorData} request
     * @param {VendorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.vendor.editVendor(1, {
     *         name1: "Theodore's Janitorial"
     *     })
     */
    public editVendor(
        idVendor: number,
        request: Payabli.VendorData,
        requestOptions?: VendorClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.PayabliApiResponseVendors> {
        return core.HttpResponsePromise.fromPromise(this.__editVendor(idVendor, request, requestOptions));
    }

    private async __editVendor(
        idVendor: number,
        request: Payabli.VendorData,
        requestOptions?: VendorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.PayabliApiResponseVendors>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Vendor/${core.url.encodePathParam(idVendor)}`,
            ),
            method: "PUT",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.PayabliApiResponseVendors, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "PUT", "/Vendor/{idVendor}");
    }

    /**
     * Delete a vendor.
     *
     * @param {number} idVendor - Vendor ID.
     * @param {VendorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.vendor.deleteVendor(1)
     */
    public deleteVendor(
        idVendor: number,
        requestOptions?: VendorClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.PayabliApiResponseVendors> {
        return core.HttpResponsePromise.fromPromise(this.__deleteVendor(idVendor, requestOptions));
    }

    private async __deleteVendor(
        idVendor: number,
        requestOptions?: VendorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.PayabliApiResponseVendors>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Vendor/${core.url.encodePathParam(idVendor)}`,
            ),
            method: "DELETE",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.PayabliApiResponseVendors, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "DELETE", "/Vendor/{idVendor}");
    }

    /**
     * Triggers AI-powered vendor enrichment for an existing vendor. Runs one or more enrichment stages (invoice scan, web search) based on the `scope` parameter. Can automatically apply extracted payment acceptance info and vendor contact information to the vendor record, or return raw results for manual review. Contact Payabli to enable this feature.
     *
     * @param {string} entry - Entrypoint identifier.
     * @param {Payabli.VendorEnrichRequest} request
     * @param {VendorClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.vendor.enrichVendor("8cfec329267", {
     *         vendorId: 456,
     *         scope: ["invoice_scan"],
     *         applyEnrichmentData: false,
     *         fallbackMethod: "check",
     *         invoiceFile: {
     *             ftype: "pdf",
     *             filename: "invoice-2026-001.pdf",
     *             fContent: "<base64-encoded-pdf>"
     *         }
     *     })
     *
     * @example
     *     await client.vendor.enrichVendor("8cfec329267", {
     *         vendorId: 456,
     *         scope: ["web_search"],
     *         applyEnrichmentData: false,
     *         fallbackMethod: "check"
     *     })
     *
     * @example
     *     await client.vendor.enrichVendor("8cfec329267", {
     *         vendorId: 456,
     *         scope: ["web_search"],
     *         applyEnrichmentData: true,
     *         fallbackMethod: "check"
     *     })
     */
    public enrichVendor(
        entry: string,
        request: Payabli.VendorEnrichRequest,
        requestOptions?: VendorClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.VendorEnrichResponse> {
        return core.HttpResponsePromise.fromPromise(this.__enrichVendor(entry, request, requestOptions));
    }

    private async __enrichVendor(
        entry: string,
        request: Payabli.VendorEnrichRequest,
        requestOptions?: VendorClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.VendorEnrichResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Vendor/enrich/${core.url.encodePathParam(entry)}`,
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.VendorEnrichResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/Vendor/enrich/{entry}");
    }
}
