// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import { mergeAdditionalBodyParameters } from "../../../../core/requestBody.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace TaptopayClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The TapToPay service issues activation codes for Tap to Pay devices. Generate a short-lived code for a device in the `Pending` state, then deliver the code to the device to complete activation.
 */
export class TaptopayClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<TaptopayClient.Options>;

    constructor(options: TaptopayClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Issues a short-lived activation code for a Tap to Pay device in the
     * `Pending` state. This endpoint is for Tap to Pay devices only.
     * Deliver the code to the device to complete activation.
     *
     * A code is valid for 30 minutes after it's issued. Calling this
     * endpoint again for the same device before the code expires returns
     * the same code, with `alreadyIssued` set to `true`, instead of
     * generating a new one. A new code is only generated when no valid
     * code exists.
     *
     * Authenticate with an OAuth2 bearer token that has the `pos_create`
     * permission. See [Accept Tap to Pay payments](/guides/pay-in-developer-tap-to-pay)
     * for the full integration guide.
     *
     * @param {Payabli.TapToPayActivationChallengeRequest} request
     * @param {TaptopayClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.ForbiddenError}
     * @throws {@link Payabli.NotFoundError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link errors.PayabliError}
     * @throws {@link errors.PayabliTimeoutError}
     *
     * @example
     *     await client.taptopay.activationChallenge({
     *         entry: "8cfec329267",
     *         deviceId: "499585-389fj484-3jcj8hj3"
     *     })
     */
    public activationChallenge(
        request: Payabli.TapToPayActivationChallengeRequest,
        requestOptions?: TaptopayClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.TapToPayActivationChallengeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__activationChallenge(request, requestOptions));
    }

    private async __activationChallenge(
        request: Payabli.TapToPayActivationChallengeRequest,
        requestOptions?: TaptopayClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.TapToPayActivationChallengeResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                "v2/device/taptopay/activate/challenge",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: mergeAdditionalBodyParameters(request, requestOptions?.additionalBodyParameters),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return {
                data: _response.body as Payabli.TapToPayActivationChallengeResponse,
                rawResponse: _response.rawResponse,
            };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 403:
                    throw new Payabli.ForbiddenError(_response.error.body as unknown, _response.rawResponse);
                case 404:
                    throw new Payabli.NotFoundError(_response.error.body as unknown, _response.rawResponse);
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/v2/device/taptopay/activate/challenge",
        );
    }
}
