// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace CheckCaptureClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The CheckCapture service handles remote check deposit and check conversion operations for accepting check payments electronically. It processes check images captured via mobile devices or scanners, performs image quality validation, and extracts MICR data for routing and account numbers. The service supports check 21 compliance for electronic check conversion and provides duplicate detection to prevent double deposits. It integrates with ACH processing to convert checks into electronic payments, maintains check images for record retention, and provides status tracking for check processing workflows. The service includes fraud detection capabilities and integrates with identity verification for risk management.
 */
export class CheckCaptureClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<CheckCaptureClient.Options>;

    constructor(options: CheckCaptureClient.Options) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * @beta This endpoint is in pre-release and may change.
     *
     * Captures a check for Remote Deposit Capture (RDC) using the provided check images and details. This endpoint handles the OCR extraction of check data including MICR, routing number, account number, and amount. See the [RDC guide](/developers/developer-guides/pay-in-rdc) for more details.
     *
     * @param {Payabli.CheckCaptureRequestBody} request
     * @param {CheckCaptureClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.BadRequestError}
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link Payabli.ServiceUnavailableError}
     *
     * @example
     *     await client.checkCapture.checkProcessing({
     *         entryPoint: "8cfec329267",
     *         frontImage: "/9j/4AAQSkZJRgABAQEASABIAAD...",
     *         rearImage: "/9j/4AAQSkZJRgABAQEASABIAAD...",
     *         checkAmount: 12550
     *     })
     */
    public checkProcessing(
        request: Payabli.CheckCaptureRequestBody,
        requestOptions?: CheckCaptureClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.CheckCaptureResponse> {
        return core.HttpResponsePromise.fromPromise(this.__checkProcessing(request, requestOptions));
    }

    private async __checkProcessing(
        request: Payabli.CheckCaptureRequestBody,
        requestOptions?: CheckCaptureClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.CheckCaptureResponse>> {
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest();
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                "CheckCapture/CheckProcessing",
            ),
            method: "POST",
            headers: _headers,
            contentType: "application/json",
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            requestType: "json",
            body: request,
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.CheckCaptureResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 400:
                    throw new Payabli.BadRequestError(_response.error.body as unknown, _response.rawResponse);
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                case 503:
                    throw new Payabli.ServiceUnavailableError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(
            _response.error,
            _response.rawResponse,
            "POST",
            "/CheckCapture/CheckProcessing",
        );
    }
}
