// This file was auto-generated by Fern from our API Definition.

import type { BaseClientOptions, BaseRequestOptions } from "../../../../BaseClient.js";
import { type NormalizedClientOptionsWithAuth, normalizeClientOptionsWithAuth } from "../../../../BaseClient.js";
import { mergeHeaders } from "../../../../core/headers.js";
import * as core from "../../../../core/index.js";
import * as environments from "../../../../environments.js";
import { handleNonStatusCodeError } from "../../../../errors/handleNonStatusCodeError.js";
import * as errors from "../../../../errors/index.js";
import * as Payabli from "../../../index.js";

export declare namespace DeviceClient {
    export type Options = BaseClientOptions;

    export interface RequestOptions extends BaseRequestOptions {}
}

/**
 * The Device service handles activation of AXIUM semi-integrated card-present devices. Generate a one-time verification code that an operator enters on a device's terminal to register it to a paypoint, then send transactions to the activated device through the MoneyIn service. For Tap to Pay device activation, see the TapToPay service.
 */
export class DeviceClient {
    protected readonly _options: NormalizedClientOptionsWithAuth<DeviceClient.Options>;

    constructor(options: DeviceClient.Options = {}) {
        this._options = normalizeClientOptionsWithAuth(options);
    }

    /**
     * Generates a one-time, 6-digit verification code for activating a
     * semi-integrated card-present device in a paypoint. This endpoint is
     * for AXIUM devices only. After calling this endpoint, an operator
     * enters the returned code on the device's terminal, along with a
     * device name, to register the device to the paypoint resolved from
     * `{entry}`.
     *
     * A code expires 5 minutes after it's issued. A paypoint can have several
     * codes active at once — for example, when activating a batch of devices —
     * and a code binds to whichever device enters it first.
     *
     * Authenticate with an OAuth2 bearer token that has the `device_registry` scope.
     *
     * @param {string} entry - The paypoint's entrypoint identifier. [Learn more](/developers/api-reference/api-overview#entrypoint-vs-entry)
     * @param {DeviceClient.RequestOptions} requestOptions - Request-specific configuration.
     *
     * @throws {@link Payabli.UnauthorizedError}
     * @throws {@link Payabli.InternalServerError}
     * @throws {@link errors.PayabliError}
     * @throws {@link errors.PayabliTimeoutError}
     *
     * @example
     *     await client.device.challenge("8cfec329267")
     */
    public challenge(
        entry: string,
        requestOptions?: DeviceClient.RequestOptions,
    ): core.HttpResponsePromise<Payabli.DeviceChallengeResponse> {
        return core.HttpResponsePromise.fromPromise(this.__challenge(entry, requestOptions));
    }

    private async __challenge(
        entry: string,
        requestOptions?: DeviceClient.RequestOptions,
    ): Promise<core.WithRawResponse<Payabli.DeviceChallengeResponse>> {
        const _metadata: core.EndpointMetadata = { security: [{ BearerAuth: [] }] };
        const _authRequest: core.AuthRequest = await this._options.authProvider.getAuthRequest({
            endpointMetadata: _metadata,
        });
        const _headers: core.Fetcher.Args["headers"] = mergeHeaders(
            _authRequest.headers,
            this._options?.headers,
            requestOptions?.headers,
        );
        const _response = await core.fetcher({
            url: core.url.join(
                (await core.Supplier.get(this._options.baseUrl)) ??
                    (await core.Supplier.get(this._options.environment)) ??
                    environments.PayabliEnvironment.Sandbox,
                `Device/challenge/${core.url.encodePathParam(entry)}`,
            ),
            method: "POST",
            headers: _headers,
            queryString: core.url.queryBuilder().mergeAdditional(requestOptions?.queryParams).build(),
            timeoutMs: (requestOptions?.timeoutInSeconds ?? this._options?.timeoutInSeconds ?? 60) * 1000,
            maxRetries: requestOptions?.maxRetries ?? this._options?.maxRetries,
            abortSignal: requestOptions?.abortSignal,
            endpointMetadata: _metadata,
            fetchFn: this._options?.fetch,
            logging: this._options.logging,
        });
        if (_response.ok) {
            return { data: _response.body as Payabli.DeviceChallengeResponse, rawResponse: _response.rawResponse };
        }

        if (_response.error.reason === "status-code") {
            switch (_response.error.statusCode) {
                case 401:
                    throw new Payabli.UnauthorizedError(
                        _response.error.body as Payabli.PayabliErrorBody,
                        _response.rawResponse,
                    );
                case 500:
                    throw new Payabli.InternalServerError(_response.error.body as unknown, _response.rawResponse);
                default:
                    throw new errors.PayabliError({
                        statusCode: _response.error.statusCode,
                        body: _response.error.body,
                        rawResponse: _response.rawResponse,
                    });
            }
        }

        return handleNonStatusCodeError(_response.error, _response.rawResponse, "POST", "/Device/challenge/{entry}");
    }
}
